<app-not-found [visible]="!cart || cart.items.length <=0"
notFoundMessage="Cart Page Is Empty!"
resetLinkText="Go To Homepage">
</app-not-found>

<div *ngIf="cart && cart.items.length >0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items" class="block border shadow-md border-whitesmoke rounded-xl">
            <div>
                <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
            </div>
            <div>
                <a routerLink="/food/{{cartItem.food.id}}">
                    {{cartItem.food.name}}
                </a>
            </div>

            <div>
                Quantity
                <p-dropdown 
                    [options]="quantityOptions" 
                    [(ngModel)]="cartItem.quantity" 
                    (onChange)="changeQuantity(cartItem, $event.value)"
                    [placeholder]="'Select Quantity'">
                </p-dropdown>

            </div>
            

            <div>
                {{cartItem.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>

    <div class="checkout block  border shadow-md border-whitesmoke rounded-xl">
        <div>
            <div class="foods-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice| currency}}</div>
        </div>
    </div>

</div>